Source: libnsfdb
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: https://github.com/libyal/libnsfdb/

Package: libnsfdb
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libnsfdb-dbg
Description: Library to access the Notes Storage Facility (NSF) database file format
 libnsfdb is a library to access the Notes Storage Facility (NSF) database file format.

Package: libnsfdb-dbg
Architecture: any
Section: debug
Depends: libnsfdb (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libnsfdb
 Debugging symbols for libnsfdb.

Package: libnsfdb-dev
Section: libdevel
Architecture: any
Depends: libnsfdb (= ${Source-Version})
Description: Header files and libraries for developing applications for libnsfdb
 Header files and libraries for developing applications for libnsfdb.

Package: libnsfdb-tools
Section: utils
Architecture: any
Depends: libnsfdb (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Notes Storage Facility (NSF) database files
 Several tools for reading Notes Storage Facility (NSF) database files.

