Source: libnsfdb
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libnsfdb

Package: libnsfdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnsfdb1
Replaces: libnsfdb1
Suggests: libnsfdb-dbg
Description: Library to access the Notes Storage Facility (NSF) database file format
 libnsfdb is a library to access the Notes Storage Facility (NSF) database file format.

Package: libnsfdb-dbg
Architecture: any
Section: debug
Depends: libnsfdb (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libnsfdb
 Debugging symbols for libnsfdb.

Package: libnsfdb-dev
Section: libdevel
Architecture: any
Depends: libnsfdb (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libnsfdb
 Header files and libraries for developing applications for libnsfdb.

Package: libnsfdb-tools
Section: utils
Architecture: any
Depends: libnsfdb (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnsfdb-utils
Replaces: libnsfdb-utils
Description: Several tools for reading Notes Storage Facility (NSF) database files
 Several tools for reading Notes Storage Facility (NSF) database files.

Package: libnsfdb-tools-dbg
Section: debug
Architecture: any
Depends: libnsfdb-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libnsfdb-tools
 Debugging symbols for libnsfdb-tools.

